body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1a9cb3, #1a9cb3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 360px;
  text-align: center;
}

h1 {
  color: #113a7c;
  margin-bottom: 10px;
}

p {
  color: #000000;
  font-size: 14px;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin: 8px 0 4px 0;
  color: #113a7c;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus, select:focus {
  border-color: #2277c7;
  box-shadow: 0 0 5px #2277c7;
}

button {
  background: #58a0d0;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #166b83;
}