<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../../public/css/styles.css">
    <title>Olvide contraseña</title>
</head>
<body>
    <header>
        <h1 class="titulo">Olvidar contraseña</h1>
        <p class="description">Registrate en: <a href="./register.html">crear cuenta</a></p>
    </header>
    <main>
        <form id="forgotPasswordForm">
            <div>
                <label for="email">Ingrese su correo electrónico para recuperar su contraseña: </label>
                <input type="email" id="email" name="email" placeholder="ejemplo@gmail.com" required>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn-accept">Recuperar Contraseña</button>
                <button type="button" class="btn-cancel" onclick="window.location.href='./../../index.html'">Cancelar</button>
            </div>
        </form>
    </main>
    <footer>
        <p>Trabajo realizado por David Alexander Ramirez Barrios 2025</p>
    </footer>
</body>
<script src="./../../../public/js/validar_olvide_contraseña.js"></script>
</html>